:root {
    --background-color: #FFFFFF;
    --primary-color: #fa2d56;
    --primary-dark: #B02D56;
    --secondary-color: #fff2f2;
    --tertiary-color: #8c8c8c;
    --text-color1: #000000;
    --text-color2: #FFFFFF;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.searchIcon {
    cursor: pointer;
}

.closeSearchIcon {
    cursor: pointer;
    font-size: 36px;
    margin: 40px;
}

.modalOverlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(2px);
    position: fixed;
    background-color: #0000008e;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.searchBar {
    width: 50%;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 200px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: var(--text-color2);
    background-color: var(--primary-color);
    width: 100vw;
    padding: 0px 16%;
}

.app_name {
    font-family: 'LS_bold';
    font-size: 1.4rem;
}

.navigation {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}


.nav_option {
    cursor: pointer;
    height: 100%;
    padding: 16px;
    padding: 12px 20px;
    transition: all ease-in-out 0.2s;
    height: 100%;
}

.nav_option:hover {
    background-color: var(--primary-dark);
}

.nav_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-top: 120px;
}

.blocks {
    margin: 60px 0px;
    display: grid;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    height: 100%; 
}

.title {
    color: var(--text-color1);
    display: flex;
    justify-content: flex-start;
    font-family: 'LS_medium';
    width: 60%;
}

.separator {
    width: 60%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary-color);
}

.blocks > a > img {
    width: 250px;
    height: 250px;
    border-radius: 6px;
    transition: all ease-in-out 0.2s;
    width: 250px;
    height: 250px;
    border-radius: 6px;
}

.blocks > a > img:hover {
    width: 260px;
    height: 260px;
}