:root {
    --background-color: #FFFFFF;
    --primary-color: #fa2d56;
    --primary-dark: #B02D56;
    --secondary-color: #fff2f2;
    --tertiary-color: #C9C9C9;
    --text-color1: #000000;
    --text-color2: #FFFFFF;
}

.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: auto;
}

.disclaimer {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 80vh;
}

.disclaimer_title {
    font-size: 3.6rem;
    width: 100%;
    font-family: 'LS_bold';
    color: var(--text-color1)
}

.disclaimer_phrase {
    font-size: 1rem;
    width: 30%;
    font-family: 'LS_medium';
    color: var(--text-color1)
}

.instruments {
    margin-bottom: 120px;
    display: grid;
    align-items: center;
    justify-items: center;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr); /* Limita a 3 colunas */
    grid-gap: 20px;
}

.instrument_container {
    display: flex;
    flex-direction: column;
}

.instruments_card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--tertiary-color);
    width: 200px;
    height: 300px;
    text-align: left;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.instrument_img {
    height: 80%;
}

.instrument_desc {
    width: 100%;
    word-break: break-all;
    color: var(--text-color1);
    font-family: 'LS_medium';
}

.instrument_value {
    width: 100%;
    color: var(--text-color1);
    font-family: 'LS_regular';
}

.instrument_buy {
    width: 100%;
    background-color: #32E472;
    outline: none;
    border: none;
    padding: 12px 20px;
    font-family: 'LS_medium';
}

.buy_modalOverlay {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    backdrop-filter: blur(2px);
    position: fixed;
    background-color: #0000008e;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.buy_modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-color);
    width: 50%;
    height: 50%;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 6px 6px 0px 0px;
    z-index: 99999;
}

.instrument_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    gap: 20px;
}

.separator {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--tertiary-color);
}


.buy_modal > h1 {
    margin-bottom: 20px;
}

.instrument_confirm {
    width: 50%;
    background-color: #32E472;
    outline: none;
    border: none;
    border-radius: 0px 0px 6px 6px;
    padding: 12px 20px;
    font-family: 'LS_medium';
}