<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./css/default.css" />
    <link rel="stylesheet" href="./css/home.css" />
    <title>Sounds | Home</title>
</head>

<body>
    <div class="containter">
        <header class="header">
            <h1 class="app_name">SOUNDS</h1>
            <nav class="navigation">
                <a class="nav_option">VIOLINOS</a>
                <a class="nav_option">GUITARRAS</a>
                <a class="nav_option">PIANOS</a>
                <a class="nav_option">BATERIAS</a>
            </nav>
            <div class="nav_icons">
                <a href="./login.php">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </a>
                <span class="material-symbols-outlined">
                    search
                </span>
            </div>
        </header>
    </div>
</body>

</html>